* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: cursive;
}

body {
	background: #76bfcb59;
	overflow: auto;
}

h1{
	text-align: center;
	margin: 5%;
	font-size: 3rem;
	text-decoration: none;
}

.text
{
text-transform: uppercase;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 50px;
margin-top: 20px;
color: cadetblue;

}
ul {
	border: 1px solid black;
	padding-left: 10%;
	padding: 7%;
	font-size: 2rem;
	list-style: disc;
}

li:hover{
	color:rgb(77, 103, 190);
	transition: 0.5s ease;
	font-size: 25px;
	cursor: pointer;
	list-style: circle;
}
